[submodule "c"]
	path = c
	url = https://github.com/dogmatists/dogma.c.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/dogmatists/dogma.cpp.git
[submodule "dart"]
	path = dart
	url = https://github.com/dogmatists/dogma.dart.git
[submodule "java"]
	path = java
	url = https://github.com/dogmatists/dogma.java.git
[submodule "go"]
	path = go
	url = https://github.com/dogmatists/dogma.go.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/dogmatists/dogma.pb.git
[submodule "python"]
	path = python
	url = https://github.com/dogmatists/dogma.py.git
[submodule "ruby"]
	path = ruby
	url = https://github.com/dogmatists/dogma.rb.git
[submodule "rust"]
	path = rust
	url = https://github.com/dogmatists/dogma.rs.git
[submodule "zig"]
	path = zig
	url = https://github.com/dogmatists/dogma.zig.git
